.main-container {
    background-image: url("../image/coffee/pexels-photo-2878712.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.logo-menu {
    background-color: rgba(182, 141, 76, 1);
    width: 300px;
    height: 100%;
    margin: 0px;
    outline: 10px solid #4d2600;
}

.logo-design {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    border-radius: 270px 270px;
    border-style: solid;
    border-left-width: 5px;
    border-right-width: 0px;
    border-color: #5A3E51;
    opacity: 0.75;
}

.nav-bar {
    background-color: #B87C4C;
    position: relative;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: #a7b303;
}

.nav-bar button {
    background-color: #553e51;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 250px;
    height: 30px;
    position: center;
}

.nav-bar button :hover {
    background-color: #4d004d;
    color: brown;
}

.social-media {
    border: 2px solid rgb(24, 0, 24);
    background-color: rgb(19, 1, 19);
    border-radius: 20px;
    padding: 2px;
}

.centered-div {
    position: absolute;
    left: 550px;
    top: 50px;
    background-color: rgba(209, 167, 122, .4);
    width: 500px;
    height: 700px;
    text-align: center;
    margin: 50px;
}

.centered-div label {
    color: #660066;
    background-color: #d2a679;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.centered-div input {
    color: grey;
    background-color: #ffe6e6;
    padding: 2px;
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border-style: groove;
    border-color: #331a00;
    text-align: center;
}

#check-box {
    width: 20px;
    height: 20px;
}

#male {
    width: 20px;
    height: 20px;
}

#female {
    width: 20px;
    height: 20px;
}

#reset {
    width: 90px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: #4d004d;
}

#sign-up {
    width: 180px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: #4d004d;
}

textarea {
    resize: none;
    font-style: italic;
    font-size: 15px;
    color: #4d004d;
    background-color: #ffe6ff;
}

#reset-this-root {
    all: initial;
    * {
        all: unset;
    }
}