.container {
    width: 900px;
    height: 100%;
    border: 8px double;
    margin: 5px;
}

.img-class {
    width: 200px;
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.wrap-right {
    display: flex;
    flex-wrap: wrap;
}

.void-circle {
    list-style-type: circle;
    /* padding-left: 100px;
    padding-bottom: 20px; */
}

.square {
    list-style-type: square;
}

li {
    padding-left: 15px;
}

.margin-distance {
    margin-left: 50px;
}

hr {
    margin: 10px 50px;
}

.relative-container {
    position: relative;
    width: 800px;
    height: 270px;
}

.height-limit {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 10px;
    left: 50px;
}

.bold-title {
    /* font-size: 30px;
    font-weight: bold; */
    position: absolute;
    left: 270px;
    top: 0px;
}

.para-1 {
    position: absolute;
    left: 300px;
    top: 100px;
}

.para-2 {
    position: absolute;
    top: 240px;
    left: 50px;
    width: 700px;
}

.footer {
    font-size: 30px;
    font-style: italic;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    border: 10px double #f00;
    width: 875px;
    text-align: center;
}

list-outside {
    list-style-position: outside;
}