* {
    box-sizing: border-box;
    
}


body {
    
    background-color:aqua;
    color:red;
    
}

#rock{
    margin: 60px;
    width: 200px;
    height: 120px;
    background-color: yellow;
    overflow: hidden;
 
}

#rock:hover{
    overflow: visible;
}

#btn{
    width:50px;
    height:20px;
}

.restricted-size img{
    
    max-width: 500px;
    max-height: 500px;
    
}